@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  background-color: #181f2a; }

.container {
  max-width: 1440px;
  margin: 0 auto; }

.nav-bar {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 4.5rem 4rem;
  justify-content: space-between; }
  .nav-bar__logo {
    width: 10rem; }
  .nav-bar__navigation {
    display: flex; }
    .nav-bar__navigation--link, .nav-bar__navigation--link:visited {
      text-decoration: none;
      color: white;
      font-size: 1.4rem; }
      .nav-bar__navigation--link:not(:last-child), .nav-bar__navigation--link:visited:not(:last-child) {
        margin-right: 4rem; }
