@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
h3 {
  font-size: 1.8rem; }

p {
  font-size: 1.4rem; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  background-color: #181f2a;
  color: white; }

.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("/media/images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  background-color: #1c2431; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: calc(100vh - 12rem);
  align-self: center; }
  .intro__illustration {
    width: 70rem;
    margin: 0 auto;
    display: block;
    height: auto; }
  .intro__text {
    text-align: center; }
    .intro__text--heading {
      font-size: 4rem;
      margin-bottom: 2rem; }
    .intro__text--paragraph {
      font-size: 1.6rem;
      width: 50%;
      margin: 0 auto;
      margin-bottom: 2rem; }
  .intro__cta {
    outline: none;
    border: none;
    background: linear-gradient(to right, #65e2d9, #339ecc);
    border-radius: 3rem; }
    .intro__cta--link {
      width: 100%;
      height: 100%;
      display: block;
      text-decoration: none;
      font-size: 1.6rem;
      color: white;
      padding: 1rem 6rem; }

.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10rem; }
  .features__feature {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8rem; }
    .features__feature--icon {
      width: 10rem;
      height: 10rem;
      display: flex;
      justify-content: center; }
      .features__feature--icon img {
        align-self: center; }
    .features__feature--heading {
      margin-bottom: 1rem; }
    .features__feature--paragraph {
      width: 50%;
      margin: 0 auto; }

.nav-bar {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 4.5rem 4rem;
  justify-content: space-between; }
  .nav-bar__logo {
    width: 10rem; }
  .nav-bar__navigation {
    display: flex; }
    .nav-bar__navigation--link, .nav-bar__navigation--link:visited {
      text-decoration: none;
      color: white;
      font-size: 1.4rem; }
      .nav-bar__navigation--link:not(:last-child), .nav-bar__navigation--link:visited:not(:last-child) {
        margin-right: 4rem; }
