* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-lg) {
        font-size: 55%;
    }

    @media only screen and (max-width: $bp-md) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-sm) {
        font-size: 47.5%;
    }
}

body {
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    background-color: $main-bg;
    color: $white;
}

.header {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("/media/images/bg-curvy-desktop.svg");

    @media only screen and (max-width: $bp-sm) {
        background-image: url("/media/images/bg-curvy-mobile.svg");
    }

    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    background-color: $intro-email-signup-bg;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}