.footer {
    margin-top: 20rem;
    background-color: $footer-bg;

    &__cta {
        width: 60%;
        background-color: $intro-email-signup-bg;
        padding: 3rem 7rem;
        transform: translateY(-50%);
        margin: 0 auto;
        text-align: center;
        box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.3);

        @media only screen and (max-width: $bp-md) {
            width: 80%;
        }

        @media only screen and (max-width: $bp-sm) {
            padding: 3rem 3rem;
        }


        &--heading {
            margin-bottom: 2rem;
            font-size: 3rem;
        }

        &--paragraph {
            margin-bottom: 3rem;
        }

        form {
            display: flex;

            @media only screen and (max-width: $bp-sm) {
                flex-direction: column;
            }

            input {
                flex: 5;
                margin-right: 2rem;
                padding: 1rem 3rem;
                border-radius: 2rem;
                color: rgba($color: #000000, $alpha: 0.8);
                outline: none;
                border: none;

                @media only screen and (max-width: $bp-sm) {
                    flex: 1;
                    margin-right: 0rem;
                    margin-bottom: 1.6rem;
                }
            }

            button {
                flex: 2;
                outline: none;
                border: none;
                border-radius: 2rem;
                padding: 1rem 2rem;
                color: white;
                background-color: $cta-blue-gradient;

                @media only screen and (max-width: $bp-sm) {
                    flex: 1;
                }
            }
        }
    }

    &__logo {
        transform: translateY(-6rem);
        margin: 0 2rem;
        margin-bottom: 1rem;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        transform: translateY(-5rem);
        margin: 0 2rem;

        @media only screen and (max-width: $bp-md) {
            flex-wrap: wrap;
        }

        @media only screen and (max-width: $bp-sm) {
            flex-direction: column;
        }

        &--location {
            width: 30%;
            display: flex;

            @media only screen and (max-width: $bp-md) {
                width: 100%;
                margin-bottom: 2rem;
            }

            @media only screen and (max-width: $bp-sm) {
                width: 100%;
                margin-bottom: 2rem;
            }
        }

        &--icon {
            font-size: 1.8rem;
            margin-right: 1rem;
        }

        &--phone-email {
            @media only screen and (max-width: $bp-sm) {
                margin-bottom: 4rem;
            }
        }

        &--links {
            @media only screen and (max-width: $bp-sm) {
                margin-bottom: 4rem;
            }
        }

        ul {
            display: flex;
            flex-direction: column;

            li {
                &:not(:last-child) {
                    margin-bottom: 1.5rem;
                }

                list-style: none;
                font-size: 1.6rem;

                a,
                a:active,
                a:visited {
                    color: white;
                    text-decoration: none;
                }
            }
        }

        &--social-media {
            ul {
                flex-direction: row;

                @media only screen and (max-width: $bp-sm) {
                    justify-content: center;
                }

                li {
                    &:not(:last-child) {
                        margin-right: 1rem;
                    }

                    i {
                        @media only screen and (max-width: $bp-sm) {
                            font-size: 5rem;
                        }

                    }
                }
            }
        }
    }
}