.nav-bar {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 4.5rem 4rem;
    justify-content: space-between;

    @media only screen and (max-width: $bp-sm) {
        padding: 3rem 2rem;
    }

    &__logo {
        width: 10rem;

        @media only screen and (max-width: $bp-sm) {
            width: 7rem;
        }
    }

    &__navigation {
        display: flex;

        &--link,
        &--link:visited {
            text-decoration: none;
            color: $white;
            font-size: 1.4rem;

            &:not(:last-child) {
                margin-right: 4rem;
            }
        }
    }
}